body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: lavender;
    transition: background 0.3s ease-in-out;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.background-image {
    width: 20vw;
    /* Keep the grid layout */
    height: 40vh;
    background-size: contain;
    /* Ensures the whole image fits */
    background-repeat: no-repeat;
    background-position: center;
    /* Keeps it centered */
}


/* #status {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
} */

.container {
    margin-top: 50px;
}

#MAL-toggle {
    background: rgb(65, 65, 65);
    color: lavender;
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    top: 90px;
    right: 80px;
    transition: background-color 0.3s, color 0.3s;
}

#MAL-toggle:hover {
    background-color: plum;
    color: black;
}

#username {
    border-radius: 5px;
    border: none;
}

#header {
    border-radius: 5px;
}

input,
button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.anime-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background: rgb(65, 65, 65);
    color: lavender;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: plum;
    color: black;
}

.close-button {
    font-size: 16px;
    color: white;
    background-color: crimson;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
}

.close-button:hover {
    background-color: darkred;
}